body {
	font-family: 'Lato', sans-serif;
}


img {

	max-width: 100%;
	width: 690px;
	

}

.quitar-float {
float: none;

}
.espacio-arriba{

	margin-top: 100px;
}

.font-montse {

	font-family: 'Montserrat', sans-serif;
}

].font-pacifico{

	font-family: 'Pacifico', cursive;
}

.grande {

	font-size: 3em;
}
.gris {
	color: #9BACB6;
}
a{
	color: #FF0040;
}
.espacio-derecha{
	margin-right: 1em;
}